[Desktop Entry]
Encoding=UTF-8
Name=MintCoin
Comment=MintCoin P2P Cryptocurrency
Comment[fr]=MintCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MintCoin, eşten eşe kriptografik sanal para birimi
Comment[es]=MintCoin, una criptomoneda P2P
Exec=/usr/bin/mintcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/mintcoin;
Categories=Office;
