language: c++
sudo: false

addons:
  apt:
    packages:
      - libdb++-dev
      - libboost-all-dev
      - libqrencode-dev


matrix:
  include:
#  - os: linux
#    dist: trusty
#    script: cd src && make -f makefile.unix

  - os: linux
    dist: xenial
    script: cd src && make -f makefile.unix
