language: c++
sudo: false
# If we need to install anything else we'll need sudo mode
#  sudo: true

addons:
  apt:
    packages:
      - libdb++-dev
      - libboost-all-dev
      - libqrencode-dev


matrix:
  include:
  - os: linux
    dist: trusty
    script: cd src && make -f makefile.unix
