language: cpp

install:
  # Travis already has OpenSSL and Boost installed via Homebrew, but we
  # need to add a couple more packages
  - if [ $TRAVIS_OS_NAME = osx ]; then
      brew upgrade ;
      brew install miniupnpc berkeley-db@4 ;
    fi
  # We need this for our push to MEGA.nz
  - pip install --user mega.py

env:
  secure: "p/AYMGogBGHUXlT5XB+x0QMQ4efyC67D2MBz49bXqZ7CA7pOdNmXnK8bscf2Mu4UJvz0/d8Q6J8NJ1IhRPPZ6qFWuihPqLOWxUj2kCnWd1STpR8RR//v5P0yJ7bFj4ta/JaUC0I0dgZUTdfvjyOIS9TkVZB8G5bNTFpUsYt7ZQWinGVAKsUP8Q/3Qvq89ib+9p6i+3FDysn4XxiWHaJ4hPJe16wzCBp2elnICqq/vxo8J62qFbnOLgICkILirBtaEj1+hyIpods/QBlxIlDrjmVrd+2NGS74qjfoouc6ur9wUPKescBplFg99Rqq/jYq4FcHlK0pA0l+szxCv8a/NFrepy8d1y4oyKWoaEWh0bdOy/3yeNmtGEyrGKd73umxIGiRLyJE9z37pfv1VmSsgtrhYwRwzvQvvUXHi4vDl27wZ+A7sKa4J8WoLhTtkCarny2FntOBRm2pd7VvleWDBIPVPKV2LgEb2GOEhdf1jwCT9uPvpI8RZ+S1AGmvdIrSVgCOR56j3nTV4R1514EM9h5zPdBejiInhULBNfe/dPuIhldR4UzYvvQ0dV1Byiq+KqoGGoSfNQwjy1pus5exfQgWqA9da6aoVV+XdfTWRGnQGHXL+Ks/Iw5v5ygCpbKslImXTTFbfcc95s7mtI8E75lC8nFxhpuWSzkltKLxlpA="

# These encode our MEGA user and password, as MEGA_EMAIL and MEGA_PASSWORD.
matrix:
  include:
  # Build mintcoind
  # Ubuntu 14.04 LTS (Trusty Tahr) is our latest (and only) Ubuntu version
#  - os: linux
#    dist: trusty
#    sudo: required
#    addons:
#      apt:
#        packages:
#          - libdb++-dev
#          - libboost-all-dev
#          - libqrencode-dev
#          - libminiupnpc-dev
#          - libminiupnpc8
#    script: cd src && make -f makefile.unix -j2 && python mega-copy.py mintcoind $TRAVIS_BRANCH/mintcoind.linux-ubuntu-trusty

  # Build mintcoind
  # Cross-compile Windows 32-bit daemon
#  - os: linux
#    dist: trusty
#    sudo: required
#    script: bash src/mxe-build.sh windows32 && python src/mega-copy.py src/mintcoind.exe $TRAVIS_BRANCH/mintcoind.exe.win32

  # Build mintcoind
  # Cross-compile Windows 64-bit daemon
#  - os: linux
#    dist: trusty
#    sudo: required
#    script: bash src/mxe-build.sh windows64 && python src/mega-copy.py src/mintcoind.exe $TRAVIS_BRANCH/mintcoind.exe.win64

  # Build mintcoind
  # Ubuntu 14.04 LTS (Trusty Tahr) is our latest (and only) Ubuntu version
  # Make a 32-bit version using Debian multiarch
  - os: linux
    dist: trusty
    sudo: required
    # https://serverfault.com/a/383958
    before_script:
        - sudo dpkg --add-architecture i386
        - sudo apt-get update
        - sudo apt-get install -y gcc:i386 cpp:i386 gcc-4.8:i386 binutils:i386
        - sudo apt-get install -y g++:i386
        - sudo apt-get install -y libssl-dev:i386
        - sudo apt-get install -y libdb++-dev:i386
        - sudo apt-get install -y libminiupnpc-dev:i386
        - apt-get download openmpi-common:all
        - ar x openmpi-common_*_all.deb
        - tar xf control.tar.gz
        - sed -i "s/^Architecture: all/Architecture: i386/" control
        - tar czf control.tar.gz md5sums control
        - ar rcs openmpi-common_*_all.deb debian-binary control.tar.gz data.tar.gz
        - sudo dpkg -i openmpi-common_*_all.deb
        - sudo apt-get install libboost-all-dev:i386 libboost-mpi-dev:i386 libboost-mpi-python-dev:i386 libboost-mpi-python1.54-dev:i386 libboost-mpi-python1.54.0:i386 libboost-mpi-python1.54-dev:i386 libboost-mpi1.54-dev:i386 python:i386
#        - sudo apt-get install openmpi-common:i386
#        - sudo apt-get download libopenmpi-dev:i386 
#        - sudo dpkg -i libopenmpi-dev_*_i386.deb || true
#        - sudo apt-get --fix-broken install
#        - sudo apt-get download openmpi-bin:i386
#        - sudo dpkg -i openmpi-bin_*_i386.deb || true
#        - sudo apt-get --fix-broken install
#        - sudo apt-get download mpi-default-dev:i386
#        - sudo dpkg -i mpi-default-dev_*_i386.deb || true
#        - sudo apt-get --fix-broken install
#        - sudo apt-get download mpi-default-bin:i386
#        - sudo dpkg -i mpi-default-bin_*_i386.deb || true
#        - sudo apt-get --fix-broken install
#        - sudo apt-get download libboost-mpi1.54-dev:i386
#        - sudo dpkg -i libboost-mpi1.54-dev_*_i386.deb || true
#        - sudo apt-get --fix-broken install
#        - sudo apt-get install gcc:i386 g++:i386 g++-4.8:i386 gcc-4.8:i386 cpp:i386 binutils:i386 libboost-mpi-dev:i386 libboost-mpi-python-dev:i386 libboost-mpi-python1.54-dev:i386 libboost-mpi-python1.54.0:i386 libboost-mpi-python1.54-dev:i386 libboost-mpi1.54-dev:i386 libssl-dev:i386 libdb++-dev:i386 libboost-all-dev:i386 libminiupnpc-dev:i386 libminiupnpc8:i386 python:i386
#        - sudo apt-get install --ignore-missing gcc:i386 g++:i386 g++-4.8:i386 gcc-4.8:i386 cpp:i386 binutils:i386 libboost-mpi-dev:i386 libboost-mpi-python-dev:i386 libboost-mpi-python1.54-dev:i386 libboost-mpi-python1.54.0:i386 libboost-mpi-python1.54-dev:i386 libboost-mpi1.54-dev:i386 mpi-default-dev:i386 mpi-default-dev:i386 libssl-dev:i386 libdb++-dev:i386 libboost-all-dev:i386 libminiupnpc-dev:i386 libminiupnpc8:i386 python:i386 mpi-default-bin:i386 libopenmpi-dev:i386 openmpi-common:all openmpi-bin:i386
    script: cd src && make -f makefile.unix -j2 CXXFLAGS=-m32 LDFLAGS=-m32 && python mega-copy.py mintcoind $TRAVIS_BRANCH/mintcoind.linux32-ubuntu-trusty

  # Build mintcoind static
  # Ubuntu 14.04 LTS (Trusty Tahr) is our latest (and only) Ubuntu version
#  - os: linux
#    dist: trusty
#    sudo: required
#    addons:
#      apt:
#        packages:
#          - libdb++-dev
#          - libboost-all-dev
#          - libqrencode-dev
#          - libminiupnpc-dev
#          - libminiupnpc8
#    script: cd src && make -f makefile.unix -j2 STATIC="all" LDFLAGS="-static" && python mega-copy.py mintcoind $TRAVIS_BRANCH/mintcoind.linux-ubuntu-trusty.static

  # Build mintcoind
  # Ubuntu 16.04 LTS (Xenial Xerus) not supported yet
  #- os: linux
  #  dist: xenial
  #  sudo: required
  #  addons:
  #    apt:
  #      packages:
  #        - libdb++-dev
  #        - libboost-all-dev
  #        - libqrencode-dev
  #        - libminiupnpc-dev
  #        - libminiupnpc8
  #  script: cd src && make -f makefile.unix -j2 && python mega-copy.py mintcoind $TRAVIS_BRANCH/mintcoind.linux-ubuntu-xenial

  # Build mintcoind
  # OS X 10.10 (Yosemite)
  #
  # "pip: command not found" on Travis, so we will just not build this

  # Build mintcoind static
  # OS X 10.10 (Yosemite)
  #
  # "pip: command not found" on Travis, so we will just not build this

  # Build mintcoind
  # OS X 10.11 (El Capitan)
#  - os: osx
#    osx_image: xcode7.3
#    script: cd src && make -f makefile.osx -j2 && python mega-copy.py mintcoind $TRAVIS_BRANCH/mintcoind.osx-elcapitan

  # Build mintcoind static
  # OS X 10.11 (El Capitan)
#  - os: osx
#    osx_image: xcode7.3
#    script: cd src && make -f makefile.osx -j2 STATIC="all" LDFLAGS="-static" && python mega-copy.py mintcoind $TRAVIS_BRANCH/mintcoind.osx-elcapitan.static

  # Build mintcoind
  # OS X 10.12 (Sierra)
#  - os: osx
#    osx_image: xcode8.3
#    script: cd src && make -f makefile.osx -j2 && python mega-copy.py mintcoind $TRAVIS_BRANCH/mintcoind.macos-sierra

  # Build mintcoind static
  # OS X 10.12 (Sierra)
#  - os: osx
#    osx_image: xcode8.3
#    script: cd src && make -f makefile.osx -j2 STATIC="all" LDFLAGS="-static" && python mega-copy.py mintcoind $TRAVIS_BRANCH/mintcoind.macos-sierra.static

  # Build mintcoind
  # OS X 10.13 (High Sierra)
#  - os: osx
#    osx_image: xcode9.3beta
#    script: cd src && make -f makefile.osx -j2 && python mega-copy.py mintcoind $TRAVIS_BRANCH/mintcoind.macos-highsierra

  # Build mintcoind static
  # OS X 10.13 (High Sierra)
#  - os: osx
#    osx_image: xcode9.3beta
#    script: cd src && make -f makefile.osx -j2 STATIC="all" LDFLAGS="-static" && python mega-copy.py mintcoind $TRAVIS_BRANCH/mintcoind.macos-highsierra.static

  # Build MintCoin-Qt
  # Ubuntu 14.04 LTS (Trusty Tahr) is our latest (and only) Ubuntu version
#  - os: linux
#    dist: trusty
#    sudo: required
#    addons:
#      apt:
#        packages:
#          - libdb++-dev
#          - libboost-all-dev
#          - libqrencode-dev
#          - libminiupnpc-dev
#          - libminiupnpc8
#          - qt4-qmake
#          - libqt4-dev
#    script: qmake && make -j2 && python src/mega-copy.py MintCoin-Qt $TRAVIS_BRANCH/MintCoin-Qt.linux-ubuntu-trusty

  # Build MintCoin-Qt
  # Ubuntu 16.04 LTS (Xenial Xerus) not supported yet
  #- os: linux
  #  dist: xenial
  #  addons:
  #    apt:
  #      packages:
  #        - libdb++-dev
  #        - libboost-all-dev
  #        - libqrencode-dev
  #        - libminiupnpc-dev
  #        - libminiupnpc8
  #        - qt4-qmake
  #        - libqt4-dev
  #  script: qmake && make -j2 && python src/mega-copy.py MintCoin-Qt $TRAVIS_BRANCH/MintCoin-Qt.linux-ubuntu-xenial

  # Build MintCoin-Qt
  # Cross-compile Windows 32-bit GUI
#  - os: linux
#    dist: trusty
#    sudo: required
#    script: bash src/mxe-build.sh windows32-qt && python src/mega-copy.py release/MintCoin-Qt.exe $TRAVIS_BRANCH/MintCoin-Qt.exe.win32

  # Build MintCoin-Qt
  # Cross-compile Windows 64-bit GUI
#  - os: linux
#    dist: trusty
#    sudo: required
#    script: bash src/mxe-build.sh windows64-qt && python src/mega-copy.py release/MintCoin-Qt.exe $TRAVIS_BRANCH/MintCoin-Qt.exe.win64

  # Build MintCoin-Qt
  # OS X 10.10 (Yosemite)
  #  
  #   Error: You are using macOS 10.10.
  #   We (and Apple) do not provide support for this old version.
  #   You may encounter build failures or other breakages.

  # Build MintCoin-Qt
  # OS X 10.11 (El Capitan)
#  - os: osx
#    osx_image: xcode7.3
#    script: brew install qrencode qt && ls /usr/local/opt/qt && /usr/local/opt/qt/bin/qmake && make -j2 && python src/mega-copy.py MintCoin-Qt.app/Contents/MacOS/MintCoin-Qt $TRAVIS_BRANCH/MintCoin-Qt.osx-elcapitan

  # Build MintCoin-Qt
  # OS X 10.12 (Sierra)
#  - os: osx
#    osx_image: xcode8.3
#    script: brew install qrencode qt && ls /usr/local/opt/qt && /usr/local/opt/qt/bin/qmake && make -j2 && python src/mega-copy.py MintCoin-Qt.app/Contents/MacOS/MintCoin-Qt $TRAVIS_BRANCH/MintCoin-Qt.macos-sierra

  # Build MintCoin-Qt
  # OS X 10.13 (High Sierra)
#  - os: osx
#    osx_image: xcode9.3beta
#    script: brew install qrencode qt && ls /usr/local/opt/qt && /usr/local/opt/qt/bin/qmake && make -j2 && python src/mega-copy.py MintCoin-Qt.app/Contents/MacOS/MintCoin-Qt $TRAVIS_BRANCH/MintCoin-Qt.macos-highsierra
