language: cpp
sudo: false

install:
  # Travis already has OpenSSL and Boost installed via Homebrew, but we
  # need to add a couple more packages
  - if [ $TRAVIS_OS_NAME = osx ]; then
      brew upgrade ;
      brew install miniupnpc berkeley-db@4 ;
    fi

# These encode our MEGA user and password, as MEGA_EMAIL and MEGA_PASSWORD.
env:
  - secure: "FN2Df+Hp9WZzYUEx8YOWNEdLmzZOerpwT4bJJJ/30WMi+wOQxuO2W3RbwiWTNJBcyYPVZRrimqvtFrYo0K570AADP/hwlYMiliprepEIhNdqLmVSr5J4yTRUFzIqRAoJNN6UlkhECAwR9bfo6NQPoiv2b5dYWlYNdQMw415Vw9q0bTifg6CSTBH5ZmHbHOPGv6XqR5Wwc1+nf8VaeKLThdD54QM0ZvG4rIiEhkf0vMMRiICbYp3VIYlQxWbdhw1kI7KvpIvpYxjvffmlBJzSWFHOYe0Dx9ZDVKq1tL+ESp/SQT91GfGRU9r86oq4K3DRGunHlXrZHiUQizc1/QGU28AkWBcHGZalstrQMA5fDlDYXWAhaWZOrKkW7wbMonJEYMr5SRNx6/nbzCYYudKQ/pCYx3nFCD7NUcv2xzE6TvbiXKXcVP9ZrPRt5JuepVzuYeINEARB1dAwXifdSWRUMc/8/I4etoeb7tx1npH2cgMC7qgPjIxvEMlJKC6TLxSG0pCxr5vuOvlz5Jt0FHucc6BErUCgAZql1HrV1X0c/NayZbWNxNlRGGcilHn6HI8L2UMjvEdsGGgdw903y5jY8CYHv5x6sd0TCjFhATYktbvWTJVmU6xSUPezNr8hd/2XKDEo/sX2WlKXrz3bv+mLl2T2V4khC3oxup3iznK9PmM="
  - secure: "cThSQJ43aBjBdaIFhSs4b1RPnwHMBWSbDEsst8dVWGHNZyVip9csv8gXwuqAGtDsd53fptQ8VhnpjXJ5YXrv0WNvlnXs3Y9uTEuEOgiJJuPdNjIXaifk5TJB7jBFNbFnf5wBPrrDnKkGLJrkKH0XebHIidRQxgERRQpsE/GTKlQpmLW0GCFZsGG7R8kG4TeZYnmcOo3ApddbEFjjphIYPscPHtGyqA/eAC6lu9F9pkSOv1W/JAGUfPzuiifr3X64ueAYb1f0NSm4o6l+Q4tlOHBr2Zd6zOGVuDJBC+1b8cP0n2Fdu3PcroaztXuGs++cpYWwzSJEYaM3pxYy9O52xG89Wh0AfVdurckcsPcHFR/dWDYX4gXPCr28qrMMz4PXnO3JwvJouvDWVb1uVixfMYpNJAV9gES4mov0TqqzrgvNc58w33hG/sWwbaqz9lByGrdoTdNkQosximtTWlLEVcQFjqhZrncknGtoou4mKhvryxwiZnh5s+OhsWK/WEZsG3HXAhHNkmh48mFYJWZaug7LgExaXQn6VALeqvi9B8iu5oJ0cU7X1TtKsT0+rZxEEzpAJ5JgDRDNIelDGWDA+KxmhnocBlfKUNcnPQ3VpXgpBIBIiSKTemm9jlo/lBawdc6dTd+1R0GUePKa+aawsyhXX0hCvW2OZvJCehpiP1g="

matrix:
  include:
  # Build mintcoind
  # Ubuntu 14.04 LTS (Trusty Tahr) is our latest (and only) Ubuntu version
  - os: linux
    dist: trusty
#    sudo: required
    addons:
      apt:
        packages:
          - libdb++-dev
          - libboost-all-dev
          - libqrencode-dev
          - libminiupnpc-dev
          - libminiupnpc8
    script: cd src && make -f makefile.unix -j2 && wget https://mega.nz/linux/MEGAsync/xUbuntu_14.04/amd64/megacmd-xUbuntu_14.04_amd64.deb && (sudo dpkg -i megacmd-xUbuntu_14.04_amd64.deb || sudo apt-get -y -f install) && mega-login $MEGA_EMAIL $MEGA_PASSWORD && mega-put mintcoind mintcoind.ubuntu_trusty.dynamic

  # Build mintcoind
  # Cross-compile Windows 32-bit daemon
#  - os: linux
#    dist: trusty
#    sudo: required
#    script: bash src/mxe-build.sh windows32

  # Build mintcoind
  # Cross-compile Windows 64-bit daemon
#  - os: linux
#    dist: trusty
#    sudo: required
#    script: bash src/mxe-build.sh windows64

  # Build mintcoind static
  # Ubuntu 14.04 LTS (Trusty Tahr) is our latest (and only) Ubuntu version
#  - os: linux
#    dist: trusty
#    addons:
#      apt:
#        packages:
#          - libdb++-dev
#          - libboost-all-dev
#          - libqrencode-dev
#          - libminiupnpc-dev
#          - libminiupnpc8
#    script: cd src && make -f makefile.unix -j2 STATIC="all" LDFLAGS="-static"

  # Build mintcoind
  # Ubuntu 16.04 LTS (Xenial Xerus) not supported yet
  #- os: linux
  #  dist: xenial
  #  addons:
  #    apt:
  #      packages:
  #        - libdb++-dev
  #        - libboost-all-dev
  #        - libqrencode-dev
  #        - libminiupnpc-dev
  #        - libminiupnpc8
  #  script: cd src && make -f makefile.unix -j2

  # Build mintcoind
  # OS X 10.10 (Yosemite)
#  - os: osx
#    osx_image: xcode6.4
#    script: cd src && make -f makefile.osx -j2

  # Build mintcoind static
  # OS X 10.10 (Yosemite)
#  - os: osx
#    osx_image: xcode6.4
#    script: cd src && make -f makefile.osx -j2 STATIC="all" LDFLAGS="-static"

  # Build mintcoind
  # OS X 10.11 (El Capitan)
#  - os: osx
#    osx_image: xcode7.3
#    script: cd src && make -f makefile.osx -j2

  # Build mintcoind static
  # OS X 10.11 (El Capitan)
#  - os: osx
#    osx_image: xcode7.3
#    script: cd src && make -f makefile.osx -j2 STATIC="all" LDFLAGS="-static"

  # Build mintcoind
  # OS X 10.12 (Sierra)
#  - os: osx
#    osx_image: xcode8.3
#    script: cd src && make -f makefile.osx -j2

  # Build mintcoind static
  # OS X 10.12 (Sierra)
#  - os: osx
#    osx_image: xcode8.3
#    script: cd src && make -f makefile.osx -j2 STATIC="all" LDFLAGS="-static"

  # Build mintcoind
  # OS X 10.13 (High Sierra)
#  - os: osx
#    osx_image: xcode9.3beta
#    script: cd src && make -f makefile.osx -j2

  # Build mintcoind static
  # OS X 10.13 (High Sierra)
#  - os: osx
#    osx_image: xcode9.3beta
#    script: cd src && make -f makefile.osx -j2 STATIC="all" LDFLAGS="-static"

  # Build MintCoin-Qt
  # Ubuntu 14.04 LTS (Trusty Tahr) is our latest (and only) Ubuntu version
#  - os: linux
#    dist: trusty
#    addons:
#      apt:
#        packages:
#          - libdb++-dev
#          - libboost-all-dev
#          - libqrencode-dev
#          - libminiupnpc-dev
#          - libminiupnpc8
#          - qt4-qmake
#          - libqt4-dev
#    script: qmake && make -j2

  # Build MintCoin-Qt
  # Ubuntu 16.04 LTS (Xenial Xerus) not supported yet
  #- os: linux
  #  dist: xenial
  #  addons:
  #    apt:
  #      packages:
  #        - libdb++-dev
  #        - libboost-all-dev
  #        - libqrencode-dev
  #        - libminiupnpc-dev
  #        - libminiupnpc8
  #        - qt4-qmake
  #        - libqt4-dev
  #  script: qmake && make -j2

  # Build MintCoin-Qt
  # Cross-compile Windows 32-bit GUI
#  - os: linux
#    dist: trusty
#    sudo: required
#    script: bash src/mxe-build.sh windows32-qt

  # Build MintCoin-Qt
  # Cross-compile Windows 64-bit GUI
#  - os: linux
#    dist: trusty
#    sudo: required
#    script: bash src/mxe-build.sh windows64-qt


  # Build MintCoin-Qt
  # OS X 10.10 (Yosemite)
  #  
  #   Error: You are using macOS 10.10.
  #   We (and Apple) do not provide support for this old version.
  #   You may encounter build failures or other breakages.
  #
  #- os: osx
  #  osx_image: xcode6.4
  #  script: brew install qrencode qt && ls /usr/local/opt/qt && /usr/local/opt/qt/bin/qmake && make -j2

  # Build MintCoin-Qt
  # OS X 10.11 (El Capitan)
#  - os: osx
#    osx_image: xcode7.3
#    script: brew install qrencode qt && ls /usr/local/opt/qt && /usr/local/opt/qt/bin/qmake && make -j2

  # Build MintCoin-Qt
  # OS X 10.12 (Sierra)
#  - os: osx
#    osx_image: xcode8.3
#    script: brew install qrencode qt && ls /usr/local/opt/qt && /usr/local/opt/qt/bin/qmake && make -j2

  # Build MintCoin-Qt
  # OS X 10.13 (High Sierra)
#  - os: osx
#    osx_image: xcode9.3beta
#    script: brew install qrencode qt && ls /usr/local/opt/qt && /usr/local/opt/qt/bin/qmake && make -j2
